@font-face {
    font-family: abel;
    src: url("abel.regular.ttf");
}

/* default for 320x480 devices */
body{
	padding:0;margin:0;font-family: Arial, Tahoma, Verdana;font-size: 14px;
}

.intro {
	background-color: #70CC7E;height:100vh;
}

.intropic{
	width:100%;padding-top:20vh;padding-bottom:10px;
}

.introname{
	font-family: abel;font-size:30px;font-weight: bold;text-align:center;
}

.introquote{
    color: #004800;font-style: italic;text-align: center;
}

.intropic-img{
	width:200px;border-radius: 100%;border: 4px solid #D8FFDE;display:block;margin:0 auto;
}

.introdetail-item{
	font-style: italic;font-size: 16px;color:#D8FFDE;
}

@media screen and (min-width:800px)
{
	.intropic-img {
		width:300px;
	}
}